global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'local'
    environment: 'development'

 
alerting:
  alertmanagers:
    - static_configs:
        - targets: []

 
rule_files:
  - "alert_rules.yml"

 
scrape_configs:
 
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

 
  - job_name: 'producer'
    static_configs:
      - targets: ['host.docker.internal:8001']
    scrape_interval: 5s
    scrape_timeout: 4s
    metrics_path: '/metrics'
    honor_timestamps: true

 
  - job_name: 'consumer'
    static_configs:
      - targets: ['host.docker.internal:8002']
    scrape_interval: 5s
    scrape_timeout: 4s
    metrics_path: '/metrics'
    honor_timestamps: true

